
<div style="text-align:center;font:normal 400 14px Montserrat">
	<h3>
		About Me
	</h3>

	<img alt='My photo' height='94' src='lion.jpg' width='94'\><br></img>

	<a href='https://twitter.com/Andras_Viczian' style="font:25px">
		<h3>
			András Viczián
		</h3>
	</a>

	<div>
		I'm a hungarian highschool student, and I love competitive programming. I decided to start a blog and Youtube channel to help others imporve.
	</div> 

	<div style="font:normal 400 14px Montserrat">
		<p>Like this blog? I&#8217;d appreciated it if you&#8217;d help support me writing more!</p>
			<script type='text/javascript' src='https://ko-fi.com/widgets/widget_2.js'></script>
			<script type='text/javascript'>kofiwidget2.init('Buy me a coffee', '#a12540', 'andrasviczian');kofiwidget2.draw();</script></div>
	</div>
</div>
